@using System.Globalization
@model ShoppingList.ViewModels.Basket.BasketDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Basket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayEveryWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayEveryWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextShoppingDateStr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextShoppingDateStr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BasketId" class="btn btn-secondary btn-sm">Edit</a> 
    <a asp-action="Index" class="btn btn-secondary btn-sm">Back to List</a>
</div>
