@model ShoppingList.ViewModels.Basket.BasketSearchViewModel

@{
    ViewData["Title"] = "Baskets";
}


<h1>Baskets</h1>

<p>
    <a class="link-dark" asp-action="Create">Create a basket</a>
</p>

<form asp-controller="Baskets" asp-action="Index" method="get">
    <div class="row">
        <div class="col-sm">
            <select class="form-control" asp-for="ShopName" asp-items="Model.Shops">
                <option value="">All shops</option>
            </select>
        </div>
        <div class="col-sm">
            <input class="form-control" type="text" asp-for="SearchString" placeholder="basket's name" />
        </div>
        <div class="col-sm">
            <input type="submit" value="Search" class="btn btn-secondary" />
        </div>
    </div>
</form>

@if (Model.Baskets != null && Model.Baskets.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Baskets!.First().Name)</th>
                <th>@Html.DisplayNameFor(model => model.Baskets!.First().DayEveryWeek)</th>
                <th>@Html.DisplayNameFor(model => model.Baskets!.First().Size)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var basket in Model.Baskets)
            {
                <tr>
                    <td>@Html.DisplayFor(item => basket.Name)</td>
                    <td>@Html.DisplayFor(item => basket.DayEveryWeek)</td>
                    <td>@Html.DisplayFor(item => basket.Size)</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-secondary btn-sm dropdown-toggle"
                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Action
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="Details" asp-route-id=@basket.BasketId>Details</a></li>
                                <li><a class="dropdown-item" asp-action="Edit" asp-route-id=@basket.BasketId>Edit</a></li>
                                <li><a class="dropdown-item" asp-action="Remove" asp-route-id=@basket.BasketId>Remove</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No baskets found.</p>
}

